<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BHBFC</display-name>
  <welcome-file-list>
    <welcome-file>/WebPages/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HTTPValidator</display-name>
    <servlet-name>HTTPValidator</servlet-name>
    <servlet-class>project.Common.Servlets.HTTPValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTTPValidator</servlet-name>
    <url-pattern>/WebPages/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/SUPER/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/SUPER/Payroll/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/SUPER/Pension/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/SUPER/AIS/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/MANAGER/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/OMS/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/HRM/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/PMS/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/ELMS/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/MIS/HTTPValidator</url-pattern>
    <url-pattern>/WebPages/StrongRoom/HTTPValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>project.Common.Servlets.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/WebPages/ReportServlet</url-pattern>
    <url-pattern>/WebPages/MANAGER/ReportServlet</url-pattern>
    <url-pattern>/WebPages/OMS/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PenReportServlet</display-name>
    <servlet-name>PenReportServlet</servlet-name>
    <servlet-class>project.Common.Servlets.PenReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PenReportServlet</servlet-name>
    <url-pattern>/WebPages/PMS/PenReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TranReportServlet</display-name>
    <servlet-name>TranReportServlet</servlet-name>
    <servlet-class>project.Gas.Servlet.TranReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranReportServlet</servlet-name>
    <url-pattern>/WebPages/AIS/TranReportServlet</url-pattern>
    <url-pattern>/WebPages/OMS/TranReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataSearchingServlet</display-name>
    <servlet-name>DataSearchingServlet</servlet-name>
    <servlet-class>project.Common.Servlets.DataSearchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSearchingServlet</servlet-name>
    <url-pattern>/WebPages/SUPER/DataSearchingServlet</url-pattern>
    <url-pattern>/WebPages/OMS/DataSearchingServlet</url-pattern>
    <url-pattern>/WebPages/AIS/DataSearchingServlet</url-pattern>
    <url-pattern>/WebPages/LMS/DataSearchingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoanReportServlet</display-name>
    <servlet-name>LoanReportServlet</servlet-name>
    <servlet-class>project.Common.Servlets.LoanReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanReportServlet</servlet-name>
    <url-pattern>/WebPages/ELMS/LoanReportServlet</url-pattern>
    <url-pattern>/WebPages/OMS/LoanReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>project.Gas.Servlet.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/WebPages/AIS/TransactionServlet</url-pattern>
    <url-pattern>/WebPages/MIS/TransactionServlet</url-pattern>
    <url-pattern>/WebPages/OMS/TransactionServlet</url-pattern>
    <url-pattern>/WebPages/LMS/TransactionServlet</url-pattern>
    <url-pattern>/WebPages/HRM/TransactionServlet</url-pattern>
    <url-pattern>/WebPages/TRAIN/TransactionServlet</url-pattern>
    
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReportServlet</display-name>
    <servlet-name>AdminReportServlet</servlet-name>
    <servlet-class>project.Common.Servlets.AdminReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReportServlet</servlet-name>
    <url-pattern>/WebPages/HRM/AdminReportServlet</url-pattern>
    <url-pattern>/WebPages/TRAIN/AdminReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MISReportServlet</display-name>
    <servlet-name>MISReportServlet</servlet-name>
    <servlet-class>project.Common.Servlets.MISReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MISReportServlet</servlet-name>
    <url-pattern>/WebPages/OMS/MISReportServlet</url-pattern>
    <url-pattern>/WebPages/MIS/MISReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRMReportServlet</display-name>
    <servlet-name>HRMReportServlet</servlet-name>
    <servlet-class>project.Common.Servlets.HRMReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRMReportServlet</servlet-name>
    <url-pattern>/WebPages/HRM/HRMReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadHandler</display-name>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>project.Common.Servlets.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/WebPages/HRM/FileUploadHandler</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FileDownloadHandler</display-name>
    <servlet-name>FileDownloadHandler</servlet-name>
    <servlet-class>project.Common.Servlets.FileDownloadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadHandler</servlet-name>
    <url-pattern>/WebPages/HRM/FileDownloadHandler</url-pattern>
  </servlet-mapping>
  
</web-app>